<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BCD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FE8FF391EF4FC0600D31840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FE8FF501EF4FC0600D31840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FE8FF5B1EF4FC0600D31840</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
